content/hlvr_addons/range_mk2/sounds/weapons/bowstring.wav
content/hlvr_addons/range_mk2/sounds/weapons/arrow_impact.wav
content/hlvr_addons/range_mk2/materials/models/tools/gravity_gun/
content/hlvr_addons/range_mk2/models/tools/gravity_gun/*
content/hlvr_addons/range_mk2/models/tools/gravity_gun/anims/
!content/hlvr_addons/range_mk2/models/tools/gravity_gun/gravity_gun_dropguard.vmdl
content/hlvr_addons/range_mk2/sounds/weapons/physcannon/
