

@define screen_transparent: #00000000;
@define screen_off_visible: #151515ff;
@define screen_dim: #185018ff;
@define screen_medium_dim: #187018ff;
@define screen_medium: #189a18ff;
@define screen_bright: #20cf20ff;

@define screen_font: vt323;

.Display {
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: screen_off_visible;
	wash-color: none;
	//border: 2px solid red;
}

.Page {
	width: 100%;
	vertical-align: top;
	horizontal-align: left;
	flow-children: down;
	visibility: collapse;
	padding: 75px;
	opacity-mask: url("s2r://panorama/images/game_menu_ui/menu_type_mask_psd.vtex");
}

.Page.Visible {
	visibility: visible;
}


.Window {
	width: fill-parent-flow( 1 );
	height: fill-parent-flow( 1 );
	vertical-align: top;
	horizontal-align: center;
	flow-children: down;
	background-color: screen_dim;
	padding: 17px;
	padding-top: -30px;
}

.Window.SpaceBottom {
	margin-bottom: 40px;
}

.WindowBorder {
	width: 100%;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;
	flow-children: right-wrap;
	background-color: screen_dim;
	border: 2px solid screen_bright;
	margin: 0px;
	padding-left: 32px;
	padding-right: 0px;
	padding-top: 50px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.WindowTitle {
	transform: translatey( 40px);
	background-color: screen_dim;
	horizontal-align: center;
	color: screen_bright;
	font-family: screen_font;
	font-weight: medium;
	//text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	z-index: 1;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}



.Text {
	width: 100%;
	height: 100%;
	text-align: center;
}

.TextButton {
	width: 360px;
	height: 140px;
	vertical-align: top;
	horizontal-align: left;
	flow-children: right;
	background-color: screen_medium;
	padding: 0px;
	padding-top: 24px;
	margin-right: 20px;
	margin-bottom: 30px;
	
	border-bottom: 40px solid screen_off_visible;
	border-right: 20px solid screen_off_visible;

	// Child text
	color: screen_off_visible;
	font-family: screen_font;
	font-weight: bold;
	//text-transform: uppercase;
	font-size: 50px;
	text-align: center;
}


.TextButton:hover {
	color: screen_dim;
	background-color: screen_bright;
}

.TextButton:focus,
.TextButton:selected,
.TextButton.Inverted {
	color: screen_dim;
	background-color: screen_off_visible;
}

.TextButton:active {
	color: screen_off_visible;
	background-color: screen_medium_dim;
	sound: "Button_VidLink.Answer";
	
	border-bottom: 40px solid screen_dim;
	border-right: 20px solid screen_dim;
}
